body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

    height: 100vh;
    width: 100vw;
}

#main-grid {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-rows: 80px 4fr 80px 40px;
    grid-template-columns: 1fr 6fr;

    grid-template-areas: 
    'header header'
    'nav content'
    'nav content'
    'footer footer';
}

header {
    grid-area: header;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    background-color: aliceblue;
    grid-area: nav;
}

#task{
    grid-area: content;
    background-color: gray;
    display: grid;
    grid-template-rows: 100px;
    grid-auto-flow: row;
    
    padding: 15px;
    padding-left: 50px;
}

footer {
    grid-area: footer;
    background-color: grey;
}


nav ul {
    list-style: none;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

nav li {
    padding: 5px 15px 5px 10px;
    cursor: pointer;
}

nav li:hover {
    background-color: blanchedalmond;
}

#task ul {
    list-style: none;
    
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(40px, 1fr));
}

#add-subtask {
    cursor: pointer;
}

.task-title {
    font-size: 3rem;
    padding: 15px;
}

form {
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.form-buttons {
    display: flex;
    grid-row: 2 / 3;
}

.form-buttons button{
    flex: 1;
}

#form-addsubtask {
    max-width: 30%;
}